nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 10;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 110vh;
  width: 300px;
  background: linear-gradient(
    180deg,
    #ed017a 0%,
    #7000a3 70%,
    transparent 100%
  );
}

.mobile-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.menu-ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.menu-li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: "#ED017A";
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
